/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

body {background: #acf; color: #88f; font-family: sans-serif;}
p.notice {padding: 4px; border: 1px solid green; background: #afa; color: black; }
p.alert {padding: 4px; border: 1px solid red; background: #faa; color: black; }
#user_nav { 
  border: 1px solid #00f;
  padding: 4px;
  background: #8af;
  color: black;
}
a {color: black;}